@use "sass:color";
@use 'var';

.btn {
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    min-width: 70px;
    padding: 0 20px;
    font-size: 14px;
    transition: all 0.2s ease;     
    cursor: pointer;
}

.btn-info-outline {
    border: 1px solid rgb(65, 88, 104);
    color: rgb(65, 88, 104);   
    &:hover {
        background-color: rgb(45, 94, 129);
        color: #fff;              
    }        
}
.btn-edit-outline {
    border: 1px solid rgb(15, 68, 214);
    color: rgb(15, 68, 214);  
    &:hover {
        background-color: rgb(11, 113, 230);
        color: #fff;              
    }        
}
.btn-delete-outline {
    border: 1px solid rgb(214, 15, 15);
    color: rgb(214, 15, 15); 
    &:hover {
        background-color: rgb(255, 0, 0);
        color: #fff;              
    }        
}
.btn-submit {
    background-color: rgb(49, 145, 73);
    color: #fff; 
    &:hover {
        background-color: rgb(49, 180, 82); 
        color: #fff;              
    }      
}

.back-btn {
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    min-width: 34px;
    font-size: 14px;
    transition: all 0.2s ease;     
    cursor: pointer;    
}

.form-element-js-btn {
    background-color: color.scale(var.$mainThemeColor, $lightness: 14%);
    // box-shadow: 0 0 1px 1px rgba(0,0,0, 0.7);
    border-radius: 4px;
    color: #fff;
    min-width: 50px;
    padding: 2px 10px;
    font-size: 11px;
    transition: 0.2s;  
    &:hover {
        background-color: color.scale(var.$mainThemeColor, $lightness: 44%);       
    }
}
.show-result-js-btn {
    background-color: rgb(216, 68, 0);
    text-transform: uppercase;
    &:hover {
        background-color: color.scale(rgb(216, 68, 0), $lightness: 44%);       
    }    
}