.admin-layout {
    background-color: rgb(45, 55, 72);
    font-family:  'Open Sans',  sans-serif;
    letter-spacing: 1px;
    min-height: 100vh;
}

.content {
    padding: 10px;
}

.header {
    border-bottom: 1px solid #aaa;
    padding-bottom: 8px;
    margin-bottom: 44px;
}

h1 {
    font-size: 22px;
    color: #ddd;
}
