
.form-container {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.form-title {
    margin-bottom: 30px;
    text-align: center;
}

.input-section {
    gap: 20px;
}

.form-element {
    margin-bottom: 20px;
    width: 100%;
}

.form-input, .form-textarea, .form-select {
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.2); 
    outline: none;
    border: 1px solid #ccc;  
    padding: 0 10px;
    font-family:  'Open Sans',  sans-serif;  
    width: 100%; 
    font-size: 16px;   
}
.form-input {
    height: 38px;
}
.form-select {
    // border: 1px solid red;
    height: 38px;   
}
.form-textarea {
    height: 300px;  
    padding: 10px;    
}
.form-preview {
    border: 1px solid #ccc; 
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.2); 
    padding: 5px;
    width: fit-content;
    img {
        display: block;
    }
}

.submit-section{
    // border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px
}