.blog-page-container {
    width: 1000px;
    margin: 0 auto;
}

.blog-list-item {
    margin-bottom: 30px;
    // border-bottom: 1px solid #ccc;
    &__header {
        display: flex;
        align-items: flex-end;
        gap: 10px;
        margin-bottom: 4px;
    }
    &__title {
        font-size: 20px;
        font-weight: 500;
        color: #777;
        text-decoration: underline;
    }
}
