
.border-red {
    border: 3px solid red;    
}

body {
    background-color: #ddd;
}
.public-layout {
    // background-color: #aae1eb;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(44, 59, 66);
    min-height: 100vh;
    margin: 0 auto;
}

.content-wrapper {
    // border: 3px solid red;
}


.main {
    // background-color: #d3915b8e;
    // border: 3px solid red;  
    flex: 1 1 600px;
    // padding-top: 20px;
    padding: 0 20px;
}

.header {
    // background-color: #eee;
    border-bottom: 1px solid #aaa;
    padding-bottom: 8px;
    margin-bottom: 30px;
    &__title {
        font-size: 24px;
    }
}

.footer {
    background-color: rgb(204, 202, 200);
    height: 200px;
}