.container {
    // border: 3px solid green;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding: 16px;
}

.flex-container {
    display: flex;
}

.flex-start-center {
    align-items: center;      
}
.flex-center-center {
    justify-content: center;
    align-items: center;    
}
.flex-end-center {
    justify-content: center;
    align-items: center;    
}
.flex-end-center {
    justify-content: flex-end;
    align-items: center;     
}

.flex-center-start {
    justify-content: center;    
}
.flex-between-center {
    justify-content: space-between;
    align-items: center;    
}
.flex-between-end {
    justify-content: space-between;
    align-items: flex-end;    
}

.gap-5 {
    gap: 5px;    
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}

.flex-1 {
    flex: 1
}

.mb-4  { margin-bottom: 4px;  }
.mb-6  { margin-bottom: 4px;  }
.mb-8  { margin-bottom: 4px;  }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }

.width-full {
    width: 100%;
}