.comment-form {
    // border: 2px solid red;
    margin-bottom: 30px;
}

.comment-form-section {
    // border: 2px solid red;   
    margin-bottom: 20px; 
}

.comment-form-element {
    border: 1px solid rgba(44, 59, 66, 0.4);
    border-radius: 10px;
    margin-bottom: 10px;
    &.w-25 {
        width: 250px;
    }
}

.comment-form-textarea, .comment-form-input {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 10px;  
}
.comment-form-textarea {
    resize: none;
}

.comment-submit-section {
    display: flex;
    justify-content: flex-end;
}