@use "var";

html:has(.mobile-menu:not(.hidden)) {
    overflow: hidden;
}

.mobile-menu {
    background: var.$menuGradient;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 70px 15px;
    transition: 0.2s;
    &.hidden {
        // left: -100%;
        top: -100%;
    }
}

.mobile-menu-nav {
    background-color: rgba(var.$mainThemeColor, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0,0,0, 0.2);
    padding: 10px 20px;
    margin-bottom: 15px;
    &__title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
        font-weight: normal;
        color: #ddd;
    }
    &__link {
        // border: 3px solid green;
        display: flex;
        align-items: center;
        height: 50px;
        color: #ddd;
        font-size: 20px;
        // margin-bottom: 20px;
    }
}