/* ---- screen sizes ---- */
$desktop: 1280px;
$tablet: 1024px;
$mobile: 768px;

$mainThemeGradient: linear-gradient(to bottom, #002f6c, #005b96, #007acc);
$menuGradient: linear-gradient(to bottom, #0e2b52, #004675, #0066aa);
$mainThemeColor: #005b96;